html, body {
    /* 画面全体に広げる */
    margin: 0;
    padding: 0;
    height: 100%;
}

.screengrid {
    display: grid;
    height: 100%;
    /* 列を四分割 */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.controlpanel {
    grid-column: 1;
}

#spot-detail {
    /* 必須：ボックスの固定の高さ */
    height: 150px; 
    /* 必須：ボックスの固定の幅 */
    width: 400px;
    
    /* 必須：内容がボックスを超えた場合にのみスクロールバーを表示 */
    overflow: auto; 
    
    /* その他：見た目を整えるためのプロパティ */
    border: 1px solid #ccc;
    padding: 10px;
    white-space: pre-wrap; /* テキストの改行を保持する（任意） */
}

#map {
    /* 2~4列目に広げる */
    grid-column: 2 / 5;
}